*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(105, 182, 150);
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-title h2{
    font-weight: 600;
    color: darkmagenta;
    font-size: 40px;
    margin-bottom: 5pxs;
}
.contact-title hr{
     border: none;
     width: 120px;
     height: 5px;
     background-color: darkmagenta;
     border-radius: 10px;
     border-bottom: 20px;    
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: blue;
    border-radius: 50px;
}
.contact textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid red;
}
.contact::placeholder{
    color: black;
}
.contact button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: black;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background-color: green;
    cursor: pointer;
}
@media (max-width:800px){
    .container{
        width: 80vh;
    }
    
}